<div
  class="surface-300 flex justify-content-center align-items-center min-h-screen"
>
  <p-card
    header="Connexion"
    subheader="Direction l'interface intervenant !"
    [style]="{ width: '360px' }"
    styleClass="p-card-shadow"
  >
    <form [formGroup]="form" (submit)="submit()">
      <span class="p-float-label">
        <input
          id="float-email"
          type="text"
          class="min-w-full"
          pInputText
          formControlName="email"
        />
        <label for="float-email">Email</label>
      </span>
      <span class="p-float-label mt-5">
        <input
          id="password-input"
          type="password"
          class="min-w-full"
          pPassword
          [feedback]="false"
          formControlName="password"
        />
        <label for="password-input">Mot de passe</label>
      </span>
      <p-button styleClass="mt-5" type="submit" label="Se connecter"></p-button>
    </form>
  </p-card>
</div>
