.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
}

.login-card {
    position: relative;
    max-width: 450px;
    margin: 20px auto;
    overflow: hidden;

    .mat-progress-bar {
        position: absolute;
        top: 0;
        left: 0;
    }

    .mat-form-field {
        margin-bottom: 5px;
    }

    .mat-card-title {
        padding-top: 5px;
    }

    .mat-card-content {
        padding-top: 15px;
    }
}