<p-table [value]="course.attributes.signatures.data">
  <ng-template pTemplate="header">
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Présent</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-signature>
    <tr>
      <td>{{ signature.attributes.attendee.data.attributes.firstname }}</td>
      <td>{{ signature.attributes.attendee.data.attributes.lastname }}</td>
      <td>
        <ng-container *ngIf="isWaitingForSync(signature); else syncBadge">
          <p-badge severity="success" value="Sync..."></p-badge>
        </ng-container>

        <ng-template #syncBadge>
          <ng-container
            *ngIf="signature.attributes.present === true; else second"
          >
            <p-badge severity="success" value="Présent"></p-badge>
          </ng-container>
        </ng-template>

        <ng-template #second>
          <ng-container
            *ngIf="signature.attributes.present === false; else third"
          >
            <p-badge severity="danger" value="Absent"></p-badge>
          </ng-container>
        </ng-template>
        <ng-template #third>
          <p-badge severity="warning" value="Attendu"></p-badge>
        </ng-template>
      </td>
      <td style="text-align: center">
        <div class="flex justify-content-between">
          <div class="flex flex-column align-items-center">
            <button
              *ngIf="signature.attributes.present === null"
              [disabled]="
                speaker === false && isDateEnded(signature) && qrcode === false
              "
              pButton
              type="button"
              class="p-button-info"
              icon="pi pi-pencil"
              (click)="openSignature.emit(signature)"
              pTooltip="Signer"
              tooltipPosition="top"
            ></button>
            <small
              *ngIf="
                speaker === false && isDateEnded(signature) && qrcode === false
              "
              >Délai expiré</small
            >
          </div>
          <p-dialog
            *ngIf="isOnline() | async"
            header="Email personnel"
            [(visible)]="personnalEmailDisplay"
            [modal]="true"
            [style]="{ width: '50%' }"
            [draggable]="false"
            [resizable]="false"
          >
          {{ personnalEmailMessage }}
          </p-dialog>
          <button
            *ngIf="
              speaker === true &&
              signature.attributes.present === null &&
              (isOnline() | async)
            "
            pButton
            type="button"
            class="p-button-info"
            icon="pi pi-send"
            pTooltip="Mail de signature"
            tooltipPosition="top"
            (click)="sendSignatureEmail(signature.id)"
          ></button>
          <button
            *ngIf="
              speaker === true &&
              signature.attributes.present === null &&
              (isOnline() | async)
            "
            pButton
            type="button"
            class="p-button-danger"
            icon="pi pi-ban"
            pTooltip="Mettre absent"
            tooltipPosition="top"
            (click)="absent.emit(signature)"
          ></button>
          <button
            *ngIf="speaker === true && (isOnline() | async)"
            pButton
            type="button"
            class="p-button-secondary"
            icon="pi pi-user-edit"
            pTooltip="Modifier l'utilisateur"
            tooltipPosition="top"
            (click)="toggleEditDialog(signature)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-dialog
  *ngIf="selectedAttendee && (isOnline() | async)"
  header="Modifier le participant"
  [(visible)]="showEditDialog"
  [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
  [style]="{ width: '50vw' }"
>
  <app-attendee-card-detail
    [attendee]="selectedAttendee"
    [courseId]="course.id"
  ></app-attendee-card-detail>
</p-dialog>
