<div class="flex pb-4">
  <p-button
    *ngIf="!course.signature_date && (isOnline() | async)"
    type="button"
    label="QrCode"
    icon="pi pi-qrcode"
    iconPos="right"
    styleClass="p-button-sm mr-2"
    pTooltip="Afficher le QrCode du cours"
    tooltipPosition="top"
    (click)="showQrCode()"
  ></p-button>
  <p-dialog
    *ngIf="isOnline() | async"
    header="QrCode"
    [(visible)]="qrCodeDisplay"
    [modal]="true"
    [style]="{ width: qrCodeWidth }"
    [draggable]="false"
    [resizable]="false"
  >
    <div class="center">
      <qrcode
        [qrdata]="qrCodeUrl"
        [title]="qrCodeUrl"
        [allowEmptyString]="true"
        [width]="qrCodeWidth"
        [alt]="'QR code du module'"
        [errorCorrectionLevel]="'M'"
      ></qrcode>
    </div>
    <ng-template pTemplate="footer">
      <p-button
        icon="pi pi-check"
        (click)="qrCodeDisplay = false"
        label="Fermer"
        styleClass="p-button-text"
      ></p-button>
    </ng-template>
  </p-dialog>

  <p-button
    *ngIf="!course.signature_date && (isOnline() | async)"
    type="button"
    label="Terminer"
    icon="pi pi-times"
    iconPos="right"
    styleClass="p-button-danger p-button-sm mr-2"
    pTooltip="Terminer le cours"
    tooltipPosition="top"
    (click)="showEndCourse()"
  ></p-button>

  <p-dialog
    *ngIf="isOnline() | async"
    header="Terminer le cours"
    [(visible)]="endCourseDisplay"
  >
    <p>Pour terminer le cours, merci de signer ci-dessous.</p>
    <p class="mb-5">Attention, un mail de relance aux absents sera envoyé !</p>
    <app-signature-pad #signaturePadSpeaker></app-signature-pad>
    <p *ngIf="errorSignature !== ''" class="text-red-600">
      {{ errorSignature }}
    </p>
    <ng-template pTemplate="footer">
      <p-button type="button" label="Terminer" (click)="endCourse()"></p-button>
    </ng-template>
  </p-dialog>
</div>
<form [formGroup]="form" (submit)="submit()">
  <span class="p-float-label mt-4">
    <input
      id="float-title"
      type="text"
      class="min-w-full"
      pInputText
      formControlName="title"
    />
    <label for="float-title">Titre</label>
  </span>
  <span class="p-float-label mt-5">
    <input
      id="float-address"
      type="text"
      class="min-w-full"
      pInputText
      formControlName="address"
    />
    <label for="float-address">Adresse</label>
  </span>
  <span class="p-float-label mt-5">
    <p-calendar
      [showTime]="true"
      hourFormat="24"
      inputId="float-start"
      styleClass="min-w-full"
      formControlName="start"
    ></p-calendar>
    <label for="float-start">Début</label>
  </span>
  <span class="p-float-label mt-5">
    <p-calendar
      [showTime]="true"
      hourFormat="24"
      inputId="float-end"
      styleClass="min-w-full"
      formControlName="end"
    ></p-calendar>
    <label for="float-end">Fin</label>
  </span>
  <p-button
    *ngIf="formBlocked && (isOnline() | async); else elseBlock"
    styleClass="mt-5"
    type="button"
    label="Modifier le cours"
    (click)="toggleForm()"
  ></p-button>
  <ng-template #elseBlock>
    <p-button
      *ngIf="isOnline() | async"
      styleClass="mt-5"
      type="submit"
      label="Valider les modifications"
    ></p-button>
    <p-button
      *ngIf="isOnline() | async"
      styleClass="ml-2 mt-5 p-button-danger"
      type="button"
      label="Annuler les modifications"
      (click)="toggleForm(true)"
    ></p-button>
  </ng-template>
</form>
