<form [formGroup]="form" (submit)="submit()" class="pt-5 grid">
  <span class="p-float-label col-12 md:col-6">
    <input
      id="float-firstname"
      type="text"
      class="min-w-full"
      pInputText
      formControlName="firstname"
    />
    <label for="float-firstname">Prénom</label>
  </span>
  <span class="p-float-label col-12 md:col-6 mt-5 md:mt-0">
    <input
      id="float-lastname"
      type="text"
      class="min-w-full"
      pInputText
      formControlName="lastname"
    />
    <label for="float-lastname">Nom</label>
  </span>
  <span class="p-float-label col-12 md:col-6 mt-5 md:mt-n1">
    <input
      id="float-email"
      type="text"
      class="min-w-full"
      pInputText
      formControlName="email"
    />
    <label for="float-email">Email</label>
  </span>
  <div class="mt-5 md:col-6">
    <p-button
      *ngIf="formBlocked; else elseBlock"
      class="col-12 md:col-6"
      type="button"
      label="Modifier le participant"
      (click)="toggleForm()"
    ></p-button>
    <ng-template #elseBlock>
      <p-button
        class="col-12 md:col-3"
        type="submit"
        label="Valider les modifications"
      ></p-button>
      <p-button
        class="col-12 md:col-3"
        styleClass="p-button-danger"
        type="button"
        label="Annuler"
        (click)="toggleForm(true)"
      ></p-button>
    </ng-template>
  </div>
</form>
<div class="mt-5">
  <form
    *ngFor="
      let comment of attendee?.data?.attributes?.attendee_comments?.data ?? []
    "
    class="flex justify-content-between mt-5"
  >
    <span class="p-float-label w-10">
      <input
        [disabled]="true"
        id="float-comment"
        type="text"
        class="min-w-full"
        pInputText
        [value]="comment.attributes.comment"
      />
      <label for="float-comment">Commentaire</label>
    </span>
    <!-- <button
      pButton
      pRipple
      type="button"
      icon="pi pi-pencil"
      class="p-button-rounded"
    ></button> -->
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-trash"
      (click)="onDeleteComment(comment.id)"
      class="p-button-rounded p-button-danger"
    ></button>
    <!-- <p-button
      class="w-3 text-right"
      styleClass="p-button"
      type="button"
      label="Modifier"
      (click)="toggleForm(true)"
    ></p-button> -->
    <!-- <p-button
      class="w-3 text-right"
      styleClass="p-button-danger"
      type="button"
      label="Supprimer"
      (click)="toggleForm(true)"
    ></p-button> -->
  </form>
  <form
    [formGroup]="commentForm"
    (submit)="onAddComment()"
    class="flex justify-content-between mt-5"
  >
    <span class="p-float-label w-10">
      <input
        id="float-comment"
        type="text"
        class="min-w-full"
        pInputText
        formControlName="comment"
      />
      <label for="float-comment">Commentaire</label>
    </span>
    <p-button
      class="w-2 text-right"
      styleClass="p-button"
      type="submit"
      label="Ajouter"
    ></p-button>
  </form>
</div>
