<p-card class="course-card-link" styleClass="h-full">
  <!-- title -->
  <ng-template pTemplate="title">
    {{ course.title }}
  </ng-template>

  <!-- content -->
  <p>
    <i class="pi pi-clock"></i>
    {{ course.start | date: "HH:mm" }} - {{ course.end | date: "HH:mm" }} ({{
      course.end | date: "dd/MM/YYYY"
    }})
  </p>
  <p>
    <i class="pi pi-map-marker"></i>
    {{ course.address }}
  </p>
  <p>
    <i class="pi pi-users"></i>
    {{ course.signatures.data.length }} personnes
  </p>
  <p>
    <i class="mt-3 pi pi-user"></i>
    Supervisé par :
  </p>

  <div class="listeSpeaker">
    <ul>
      <li *ngFor="let speaker of course.speakers.data">
        {{ speaker.attributes.lastname | uppercase }}
        {{ speaker.attributes.firstname }}
      </li>
    </ul>
  </div>

  <!-- footer -->
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end">
      <button
        pButton
        type="button"
        (click)="open.emit()"
        class="p-button-raised p-button-rounded"
        icon="pi pi-ellipsis-h"
      ></button>
    </div>
  </ng-template>
</p-card>
