<div
  class="surface-300 min-h-screen flex justify-content-center align-items-center"
>
  <p-card *ngIf="course$ | async as course; else noCourse" [header]="course.attributes.title">
    <div *ngIf="(signature$ | async) && attendee$ | async as attendee; else invalidCode">
      <p>Début : {{ course.attributes.start | date: "short":"+0200":"fr" }}</p>
      <p class="mb-5">
        Fin : {{ course.attributes.end | date: "short":"+0200":"fr" }}
      </p>

      <p class="mb-3">
        {{ attendee.attributes.lastname.toUpperCase() }}
        {{ attendee.attributes.firstname }}
      </p>

      <div *ngIf="signature$ | async as signature">
        <app-course-attendee-signature
          *ngIf="
            !isDateEnded(signature) && signature.attributes.present === null;
            else dateExpired
          "
          [speaker]="false"
          (present)="onPresent(course.id, signature.id, $event)"
          (absent)="(null)"
        ></app-course-attendee-signature>
        <ng-template #dateExpired>
          <ng-container
            *ngIf="signature.attributes.present === null; else alreadySign"
          >
            <p class="pt-2 text-red-600">
              Le temps accordé pour signer a expiré.
            </p>
          </ng-container>
        </ng-template>
        <ng-template #alreadySign>
          <p class="pt-2 text-green-600">
            Votre présence, ou non, a bien été défini.
          </p>
        </ng-template>
      </div>
    </div>
  </p-card>

  <ng-template #noCourse>
    <app-course-not-found></app-course-not-found>
  </ng-template>

  <ng-template #invalidCode>
    <app-invalid-code></app-invalid-code>
  </ng-template>
</div>
