<div class="course-list min-h-screen surface-300">
  <p-toolbar styleClass="bg-white border-noround shadow-5 px-5 py-2">
    <div class="p-toolbar-group-left flex align-items-center">
      <h2>Vos modules</h2>
    </div>

    <div class="p-toolbar-group-right">
      <!-- <p *ngIf="isOnline() | async">TEST</p> -->
      <p-button
        (click)="logout()"
        icon="pi pi-sign-out"
        styleClass="p-button-sm p-button-danger"
      ></p-button>
    </div>
  </p-toolbar>

  <p-tabView>
    <p-tabPanel header="Liste">
      <div
        *ngIf="!(loadingCourses$ | async); else loadingSpinner"
        class="module-list"
      >
        <app-course-card-link
          *ngFor="let course of courses$ | async"
          [course]="course.attributes"
          (open)="openCourse(course)"
        ></app-course-card-link>
      </div>
    </p-tabPanel>

    <p-tabPanel header="Planning">
      <ng-template pTemplate="content">
        <full-calendar
          #calendar
          *ngIf="options$ | async as options"
          [options]="options"
        ></full-calendar>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>

<ng-template #loadingSpinner>
  <div class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>
</ng-template>
