.spacer {
  flex: 1 1 auto;
}

.module-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  padding: 15px;
}

.loading {
  width: fit-content;
  margin: 20px auto;
}

.fc {
  height: 100vh;
}

::ng-deep .p-tabview .p-tabview-panels {
  background-color: var(--surface-300) !important;
}
