<div
  class="surface-300 min-h-screen flex justify-content-center align-items-center"
>
  <p-card *ngIf="course$ | async as course; else noCourse" [header]="course.attributes.title">
    <p>Début : {{ course.attributes.start | date: "short":"+0200":"fr" }}</p>
    <p class="mb-5">
      Fin : {{ course.attributes.end | date: "short":"+0200":"fr" }}
    </p>
    <p class="mb-5">Merci de signer sur votre profil.</p>
    <app-course-card-attendee-list
      class="p-0"
      [course]="course"
      [speaker]="false"
      [qrcode]="true"
      (openSignature)="openSignature($event)"
      (absent)="(null)"
    ></app-course-card-attendee-list>

    <p-dialog
      [header]="selectedAttendeeName"
      [(visible)]="displayModal"
      [modal]="true"
      [dismissableMask]="true"
      [draggable]="false"
      maskStyleClass="signature-overlay"
      (onShow)="displayModalComponent = true"
      (onHide)="displayModalComponent = false"
    >
      <app-course-attendee-signature
        *ngIf="displayModalComponent"
        [speaker]="false"
        (present)="onPresent(course.id, $event)"
        (absent)="(null)"
      ></app-course-attendee-signature>
    </p-dialog>
  </p-card>

  <ng-template #noCourse>
    <app-course-not-found></app-course-not-found>
  </ng-template>
</div>
