.p-button-danger {
  margin-left: 15px;
}

.actions {
  text-align: center;
  margin-top: 15px;
}

.pad-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  p {
    flex: 1;
    margin: 0;
    margin-right: 10px;
    font-size: 15px;
    color: rgb(96, 96, 96);
  }
}

.signature-pad {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}