<div class="attendee-signature">
  <div class="signature-pad">
    <div class="pad-actions">
      <p>Veuillez signer dans le cadre.</p>
      <button
        pButton
        type="button"
        (click)="clear()"
        icon="pi pi-refresh"
        class="p-button-sm"
        iconPos="left"
      ></button>
    </div>

    <app-signature-pad #signaturePad></app-signature-pad>
  </div>

  <div class="actions">
    <button
      pButton
      (click)="onPresent()"
      type="button"
      icon="pi pi-check"
      label="Présent"
      class="p-button-success"
      iconPos="left"
    ></button>
    <button
      *ngIf="speaker === true"
      pButton
      (click)="onAbsent()"
      type="button"
      icon="pi pi-times"
      label="Absent"
      class="p-button-danger"
      iconPos="left"
    ></button>
  </div>
</div>
