<div class="surface-300 course-detail min-h-screen">
  <p-toolbar styleClass="bg-white border-noround shadow-5 px-5 py-2">
    <div class="p-toolbar-group-left flex align-items-center">
      <p-button
        (click)="goToList()"
        label="Retour"
        icon="pi pi-arrow-left"
        styleClass="mr-5 p-button-sm"
      ></p-button>
      <h2>
        {{
          (loadingCourse$ | async)
            ? "Chargement..."
            : (course$ | async)?.attributes?.title || "Module introuvable"
        }}
      </h2>
    </div>

    <p-dialog
      *ngIf="isOnline() | async"
      header="Email"
      [(visible)]="absModalDisplay"
      [modal]="true"
      [style]="{ width: '50%' }"
      [draggable]="false"
      [resizable]="false"
    >
      {{ absMsg }}
    </p-dialog>

    <div class="p-toolbar-group-right">
      <!-- <p *ngIf="isOnline() | async">TEST</p> -->
      <p-button
        (click)="logout()"
        icon="pi pi-sign-out"
        styleClass="p-button-sm p-button-danger"
      ></p-button>
    </div>
  </p-toolbar>

  <div *ngIf="loadingCourse$ | async; else endLoading" class="loading">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <ng-template #endLoading>
    <div *ngIf="course$ | async as course; else noCourse" class="grid m-4">
      <p-dialog
        [header]="selectedAttendeeName"
        [(visible)]="displayModal"
        [modal]="true"
        [dismissableMask]="true"
        [draggable]="false"
        maskStyleClass="signature-overlay"
        (onShow)="displayModalComponent = true"
        (onHide)="displayModalComponent = false"
      >
        <app-course-attendee-signature
          [speaker]="true"
          *ngIf="displayModalComponent"
          (present)="onPresent(course.id, $event)"
          (absent)="onAbsent(course.id)"
        ></app-course-attendee-signature>
      </p-dialog>

      <p-card class="col-12" header="Commentaires">
        <form
          *ngFor="let comment of course.attributes.course_comments.data"
          class="flex justify-content-between mt-3"
        >
          <span class="p-float-label w-10">
            <input
              [disabled]="true"
              id="float-comment"
              type="text"
              class="min-w-full"
              pInputText
              [value]="comment.attributes.comment"
            />
          </span>
          <button
            *ngIf="isOnline() | async"
            pButton
            pRipple
            (click)="onDeleteComment(course.id, comment.id)"
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger"
          ></button>
        </form>

        <form
          *ngIf="isOnline() | async"
          [formGroup]="commentForm"
          (submit)="onAddComment(course.id)"
          class="flex justify-content-between mt-5"
        >
          <span class="p-float-label w-10">
            <input
              id="float-comment"
              type="text"
              class="min-w-full"
              pInputText
              formControlName="comment"
            />
            <label for="float-comment">Commentaire</label>
          </span>
          <p-button
            class="w-2 text-right"
            styleClass="p-button"
            type="submit"
            label="Ajouter"
          ></p-button>
        </form>
      </p-card>

      <p-card class="col-12 md:col-6">
        <app-course-card-detail
          [course]="course.attributes"
          (close)="onClose(course.id, $event)"
        ></app-course-card-detail>
      </p-card>
      <p-card class="col-12 md:col-6" header="Liste des participants">
        <div *ngIf="isOnline() | async" class="p-0">
          <p-button
            type="button"
            label="Envoyer un email aux Attendus"
            styleClass="p-button-sm mr-2"
            tooltipPosition="top"
            (click)="sendEmailToAbs(course.id)"
          ></p-button>
        </div>
        <br *ngIf="isOnline() | async" />

        <app-course-card-attendee-list
          class="p-0"
          [course]="course"
          [speaker]="true"
          [pendingSignatures]="signaturesWaitingSync$ | async"
          (openSignature)="openSignature($event)"
          (absent)="setAsAbsent(course.id, $event)"
        ></app-course-card-attendee-list>
      </p-card>
    </div>
  </ng-template>

  <ng-template #noCourse>
    <app-course-not-found></app-course-not-found>
  </ng-template>
</div>
